.contactus {
    background-color: #1d2031;
    padding: 133px 0px;
    // .contactus__topline

    &__topline {
        position: absolute;
        top: -128px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    // .contactus__title

    &__title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #d2b16d;
        margin-bottom: 66px;
    }

    // .contactus__box

    &__box {
        display: flex;
        flex-direction: column;
        background-color: #171a27;
        border-radius: 200px;
        padding: 81px 0px 117px;
        margin-bottom: 60px;
    }

    // .contactus__box-start

    &__box-start {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 100px;
        margin-bottom: 70px;
    }

    // .contactus__start-item

    &__start-item {
        max-width: 410px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    // .contactus__start-item-img

    &__start-item-img {
        max-width: 53px;
        margin-bottom: 18px;
    }

    // .contactus__start-item-title

    &__start-item-title {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 140%;
        text-align: center;
        color: #d2b16d;
        margin-bottom: 20px;
    }

    // .contactus__start-item-text

    &__start-item-text {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 150%;
        text-align: center;
        color: #e7dbb5;
    }

    // .contactus__box-midle

    &__box-midle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 850px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    // .contactus__midle-item

    &__midle-item {
        max-width: 410px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    // .contactus__box-end

    &__box-end {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .contactus__end-img

    &__end-img {
        max-width: 53px;
        margin-bottom: 20px;
    }

    // .contactus__end-title

    &__end-title {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 140%;
        text-align: center;
        color: #d2b16d;
        margin-bottom: 15px;
    }

    // .contactus__end-inner

    &__end-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .contactus__end-item

    &__end-item {
        max-width: 410px;
        width: 100%;
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 150%;
        text-align: center;
        color: #e7dbb5;
    }

    // .contactus__box-links

    &__box-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // .contactus__box-inner

    &__box-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    // .contactus__link

    &__link {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 140%;
        color: #e7dbb5;
        margin-bottom: 36px;
        span {
            margin-right: 38px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            img {
                max-width: 35px;
                width: 100%;
                display: inline;
            }
        }
    }

    // .contactus__halfoval-left

    &__halfoval-left {
        position: absolute;
        left: 0;
        top: 220px;
        z-index: 1;
        max-width: 150px;
        width: 100%;
    }

    // .contactus__halfoval-right

    &__halfoval-right {
        position: absolute;
        right: 0;
        top: 220px;
        z-index: 1;
        max-width: 150px;
        width: 100%;
    }
}

.container-contact {
    position: relative;
}
.header-visible {
    display: block;
}
// adaptive

@media (max-width: 1230px) {
    .contactus__end-inner {
        flex-direction: column;
    }
    .contactus__end-item {
        margin-bottom: 35px;
    }
    .contactus__end-title {
        margin-bottom: 25px;
    }
    .contactus__box-midle {
        flex-direction: column;
    }
    .contactus__midle-item {
        margin-bottom: 35px;
    }
    .contactus__box-midle {
        margin-bottom: 40px;
    }
}

@media (max-width: 800px) {
    .contactus__halfoval-right {
        display: none;
    }
    .contactus__halfoval-left {
        display: none;
    }
    .contactus__topline{
        display: none;
    }
}
@media (max-width: 500px) {
    .contactus__box-start{
        padding: 0px 0px;
        margin-bottom: 20px;
    }
    .contactus__start-item-title{
        font-size: 20px;
    }
    .contactus__start-item-text{
        font-size: 20px;
    }
    .contactus__end-title{
        font-size: 20px;
    }
    .contactus__end-item{
        font-size: 20px;
    }
    .contactus__midle-item{
        &:last-child{
            margin-bottom: 0px;
        }
    }
}
@media (max-width: 425px){
    .contactus__link{
        font-size: 20px;
    }
    .contactus__link{
        span{
            margin-right: 15px;
            img{
                max-width: 20px;
            }
        }
    }
}
