@font-face{
	font-family: helvetica_bold;
	font-display: swap;
	src: url("../fonts/helvetica_bold.woff2") format("woff2"), url("../fonts/helvetica_bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: helvetica_boldoblique;
	font-display: swap;
	src: url("../fonts/helvetica_boldoblique.woff2") format("woff2"), url("../fonts/helvetica_boldoblique.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: helvetica_cyr_boldoblique;
	font-display: swap;
	src: url("../fonts/helvetica_cyr_boldoblique.woff2") format("woff2"), url("../fonts/helvetica_cyr_boldoblique.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: helvetica_light;
	font-display: swap;
	src: url("../fonts/helvetica_light.woff2") format("woff2"), url("../fonts/helvetica_light.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: helvetica_cyr_oblique;
	font-display: swap;
	src: url("../fonts/helvetica_cyr_oblique.woff2") format("woff2"), url("../fonts/helvetica_cyr_oblique.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: helvetica_lightoblique;
	font-display: swap;
	src: url("../fonts/helvetica_lightoblique.woff2") format("woff2"), url("../fonts/helvetica_lightoblique.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: helvetica_oblique;
	font-display: swap;
	src: url("../fonts/helvetica_oblique.woff2") format("woff2"), url("../fonts/helvetica_oblique.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: helvetica_regular;
	font-display: swap;
	src: url("../fonts/helvetica_regular.woff2") format("woff2"), url("../fonts/helvetica_regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
