.mediacal-header {
    background-color: #212121;
}
.mediacal-header-inner {
    background-color: rgba(0, 0, 0, 0.2);
}
.container-header {
    position: relative;
}
.header__line {
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.medical {
    background-color: #212121;
    padding: 60px 0px 4px;
    position: relative;
    // .medical__start-box

    &__start-box {
        display: flex;
        justify-content: start;
        background-image: url(../img/medical-bg.png);
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    // .medical__start-textblock

    &__start-textblock {
        max-width: 772px;
        width: 100%;
        margin-right: 18px;
    }

    // .medical__textbox-title

    &__textbox-title {
        padding-top: 119px;
        font-family: "Inter";
        font-style: italic;
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 84px;
        position: relative;
        margin-left: 100px;
        &::after {
            position: absolute;
            content: "";
            top: 280px;
            left: -80px;
            width: 147px;
            height: 1px;
            background-color: #fff;
        }
    }

    // .medical__textbox-text

    &__textbox-text {
        padding-bottom: 89px;
        font-family: "Inter";
        font-style: italic;
        font-weight: 300;
        font-size: 40px;
        line-height: 112%;
        text-transform: uppercase;
        color: #ffffff;
        max-width: 575px;
        width: 100%;
        margin-left: 100px;
    }

    // .medical__start-img

    &__start-img {
        max-width: 546px;
        margin-top: 125px;
    }

    // .medical__end

    &__end {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 133%;
        color: #ffffff;
    }

    // .medical__end-toptext

    &__end-toptext {
        max-width: 750px;
        width: 100%;
        margin-bottom: 30px;
        margin-top: -190px;
    }

    // .medical__end-bottomtext

    &__end-bottomtext {
        margin-bottom: 200px;
        max-width: 1070px;
        width: 100%;
    }

    // .medical__down-line

    &__down-line {
        display: block;
        text-align: center;
    }

    // .medical__halfoval

    &__halfoval {
        position: absolute;
        top: 191px;
        z-index: 1;
        right: 0;
        max-width: 625px;
        width: 100%;
        height: 1103px;
    }

    // .medical-form

    &-form {
        background-color: #fff;
        margin-bottom: 270px;
    }

    // .medical__form-subtitle

    &__form-subtitle {
        font-family: "Inter";
        font-style: italic;
        font-weight: 700;
        font-size: 35px;
        line-height: 171%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        max-width: 895px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 115px;
    }
}
.container-header {
}
.header-visible {
    display: block;
}
// adaptive

@media (max-width: 1235px) {
    .medical__start-box {
        flex-direction: column-reverse;
        align-items: center;
    }
    .medical__start-img {
        margin-top: 0;
    }
    .medical__start-box {
        background-image: none;
    }
    .medical__end-toptext {
        margin-top: 0px;
    }
    .medical__start-img {
        margin-bottom: 65px;
    }
    .medical__start-textblock {
        margin: 0 auto;
        margin-bottom: 110px;
        background-image: url(../img/medical-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center 0;
    }
    .medical__textbox-title {
        font-size: 30px;
        line-height: 40px;
        max-width: 214px;
        width: 100%;
        margin: 0 auto;
        &::after {
            position: static;
            display: block;
            margin: 10px 0px;
        }
    }
    .medical__textbox-text {
        font-size: 25px;
        line-height: 38px;
        max-width: 230px;
        width: 100%;
        margin: 0 auto;
    }
    .medical__textbox-text {
    }
    .medical__halfoval {
        display: none;
    }
    .medical__end-toptext {
        padding: 0px 10px;
        font-size: 20px;
        line-height: 30px;
    }
    .medical__end-bottomtext{
        padding: 0px 10px;
        font-size: 20px;
        line-height: 30px;
    }
    .medical{
        padding: 164px 0px 4px
    }
}
@media (max-width: 750px){
    .medical__form-subtitle{
        font-size: 25px;
    }
    .medical__down-line{
        svg{
            max-width: 305px;
        }
    }
}
@media (max-width: 450px) {
    .medical__start-textblock {
        background-size: cover;
    }
    .form__form-input{
        max-width: 90%;
    }
    .form__form-subtitle {
        font-size: 20px;
    }
    .left-form-item{
        margin-left: 10px;
    }
    .form__form-box{
        flex-direction: column;
    }
    .form__form-box-input{
        max-width: 90%;
    }
    .form__form-submit{
        font-size: 20px;
    }
    .medical__down-line{
        svg{
            max-width: 275px;
        }
    }
    
}
